<%= form_for @building do |f| %>
  <%- if @building.errors.size > 0 -%>
  <ul class="errors">
    <%- @building.errors.full_messages.each do |error| -%>
      <li><%= error %></li>
    <%- end -%>
  </ul>
  <%- end -%>
  
  <div class="form-header">
  <h1>Edit Building Information</h1>
  </div>

  <div>
    <%= f.label :street_address %><br>
    <%= f.text_field :street_address %>
  </div>

  <div>
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>

  <div>
    <%= f.label :state %><br>
    <%= select_tag "building[state]",
      options_for_select(Building.states) %>
  </div>

  <div>
    <%= f.label :postal_code %><br>
    <%= f.text_field :postal_code %>
  </div>

  <div>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  
  <div class="form-header">
    <h1>Edit Building Owner</h1>
  </div>

  <%= f.fields_for :owners do |builder| %>
    <%= builder.label :first_name, "First name" %><br>
    <%= builder.text_field :first_name %><br>
  
    <%= builder.label :last_name, "Last name" %><br>
    <%= builder.text_field :last_name %><br>

    <%= builder.label :email, "Email" %><br>
    <%= builder.text_field :email %><br>

    <%= builder.label :company_name, "Company name" %><br>
    <%= builder.text_field :company_name %>
  <%- end -%>

  <div>
    <%= f.submit 'Save' %>
  </div>
<%- end -%>

<%= link_to 'Home', buildings_path %>
