<p>
  <strong>Property:</strong></br>
  <%= @building.street_address %></br>
  <%= @building.city%></br>
  <%= @building.state %></br>
  <%= @building.postal_code %></br>
  <%= @building.description %></br>
</p>

<%= link_to 'Home', buildings_path %>

